binaryornot==0.3.0
boto==2.38.0
bz2file==0.98
cookiecutter==0.9.1
cookiejar==0.0.1
decorator==4.0.9
gensim==0.12.0
Jinja2==2.7.3
MarkupSafe==0.23
mock==1.0.1
nltk==3.0.1
numpy==1.9.1
pager==3.3
praw==4.0.0b4
prawcore==0.0.8
PyYAML==3.11
requests==2.9.1
scipy==0.15.1
six==1.10.0
smart-open==1.2.1
update-checker==0.11
