<!--<toysrus--!>
{% extends "/dasboot.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet"
        href="{{url_for('.static', filename='mystyle.css')}}">
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="list-group">
          {% for value in searches %}
              <a href="#" class="list-group-item active"> {{value}}</a>
          {% endfor %}
       </div> 
    </div>
</div>
{% endblock %}

<! ----!>
